*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgb(204,202,202);
}
.top-nav{
    height: 60px;
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:fixed;
    top:0;
    width:100%;
    z-index: 5;
}
.nav-logo{
    width:110px;
    padding-top:10px;

}
.nav-logo img{
    width:100%;
}
.border{
    border:1px solid transparent;
    padding:10px 6px;
}
.border:hover{
    border:0.5px solid white;
    border-radius:2px;
}
.contain{
    border:1px solid transparent;
    padding:5px 6px 10px 6px;
}
.contain:hover{
    border:0.5px solid white;
    border-radius: 2px;
}
/* ======location ========*/
.nav-loaction{
    font-size: 0.5vw;
}
.locate{
    border:1px solid transparent;
    padding:7px 6px;
}
.locate:hover{
    border:0.5px solid white;
    border-radius:2px;
}

.location-icon{
    display: flex;
    align-items: center;
}
.location1{
    margin-left:14px;
    color:#ccc;
    font-size: 1vw;
}
.location2{
    font-size:1.2vw;
    font-weight:700;
}
.location-icon i{
font-size:1vw;
margin-right:3px;

/* =====searchoption========== */
}
.nav-search{
    display:flex;
    justify-content: space-evenly;
  border-radius:6px;
      outline: none;

    height: 40px;
    width:600px;
    border:2px solid transparent;
    
}
.nav-search:hover{
    border:3px solid orange;
}
.category{
    width: 52px;
    text-align: center;
    font-size: 1vw;
    border: 0;
    outline: none;
    background-color: #989595;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-input{
    width:100%;
    border:0;
    outline: none;
    font-size:1.2vw;
    padding-left:5px;
}
.search-icon{
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size:1.5vw;
    background-color: rgb(235,182,84);
     border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}
/* ========language======= */
.nav-language{
    width:auto;
}
.lang-select{
    display:flex;
    align-items: center;
    background:black;
    border: 0;
    color:#efebeb;
    width:41px;
    text-align: center;
    font-weight: 660px;
    font-size:1vw;
}
.lang-select img{
    width:20px;


}
.color{
    border:1px solid transparent;
    padding:10px 20px 10px 8px;
}
.color:hover{
    border:0.5px solid white;
    border-radius:2px;
    
}


/*======= singing ========*/
.first-signin{
    color:#ccc;
    font-size: 1vw;
    font-weight: 700;
}
.second-signin{
    font-weight:700;
    font-size:1vw;
}
.nav-signin{
    padding: 8px 9px;
}
/* =====cart========= */
.nav-cart{
    display:flex;
    align-items: center;
}
.nav-cart i{
    font-size:2.2vw;
    margin-right:3px;
    color: #fff;
}
.nav-cart p{
    font-size:1vw;
    font-weight:700;
}
/* =======buttumNav=========== */
.buttom-nav{
    background-color: #232f3e;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding: 0 20px;
    width: 100%;
    position: relative;
    top:60px;
}
.bnav-left{
    display:flex;
    align-items: center;
}
.option{
    display: flex;
}

.bnav-left .all {
    display: flex;
    align-items: centre;
    font-weight: 600;
}
    .bnav-left .all i{
    font-size: 1.1vw;
    margin-right:5px;
    font-weight: 600;
    }
     .bnav-left .all p{
    font-size: 1vw;
    
    }
    .bnav-left .option a{
        text-decoration: none;
        font-size:1.1vw;
      margin:0 8px;
    }
.bnva-right{
    font-size: 1.1vw;
    font-weight: 700;
}
/*======== herosection =========*/
.hero-section{
    background-image: url(amzonupar.jpg);
    height: 300px;
    background-size: cover;
    margin-top:60px;
    width:100%;
}
.product-box{
    width: 96%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 20px;
}
.box{
    background-color: white;
    height: auto;
    padding: 20px;
}
.box img{
    width:100%;
}
h3{
    margin-bottom: 20px;
}
.box a{
    text-decoration: none;
    font-size: 1vw;
    margin-top: 40px;
    color:#131921
}
/* =====scroll bar======= */
.scroll-product{
    width: 96%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    width: 95.3vw;
    
    
}
.scroll-product .product{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: auto;
    width:94vw;



   
}
.product::-webkit-scrollbar{
    height:8px;
    cursor:pointer;
   
}
.product::-webkit-scrollbar-track{
    border-radius:10px;
}
.product::-webkit-scrollbar-thumb{
    border-radius:10px;
    background: #fff;
}
.product::-webkit-scrollbar-thumb:hover{
    
    background: #9e9a9a;
}
.product img{
   
    margin:0 20px;
    margin-bottom:20px;
    width:200px;
    height: auto;
    
 
}
/* =======fightsection ========*/
.fight-offer{
    background: white;
    width: 96%;
    margin:20px auto;
    padding:20px;
}
.fight-offer img{
    width: 100%;
    height: 500px;

}
/* =======signin====== */
.signin-section{
    width: 100%;
    background: #fff;
    margin:20px 0;
    padding:30px 0;
}

.signin-section .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid gray;
  padding: 30px 0;

}
.signin-section .content h1{
    font-size: 1vw;
    margin-bottom: 5px;
    margin-top: 5px;
}
.signin-section .content button{
    font-size: 1vw;
   padding: 12px 40px;
   background: rgb(215, 141, 3);
   border:0;
   outline: none;
   border-radius: 4px;
   width: 400px;
   font-weight: 600;
}
.signin-section .content a{
    font-size: 1vw;
   text-decoration: none;
   color: blue;
    }
    .footer{
        width:100%;
        background:rgb(35, 47, 62);
        color:white;
    }
  .footer .row{
    display: flex;
    justify-content: space-around;
    padding: 50px 70px;
    flex-wrap: wrap;

  }
  .footer .row .col ul li {
    list-style:none;

  }
   .footer .row .col ul li a{
    font-size:1vw;
    line-height: 30px;
    color:#ccc

  }
  .col-heading{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.2vw;
  }
  .footer .row .col ul li a:hover{
    text-decoration: underline;

  }
  .bottom-footer{
    width: 80%;
    margin: 30px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-bottom: 0;
  }
  .footer-icon img{
    width: 110px;
  }
.footer-icon{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 300px;
    margin: 30px 0;
}
.country ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;

}
.country ul li{
    list-style: none;
    margin: 5px 12px;
    font-size: 1vw;
}
.footer-icon button{
    padding: 8px 25px;
    background: transparent;
    border: 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:#fff;
}
.country{
    margin-bottom: 20px;
}
hr{
    border:0.5px solid rgb(14, 27, 27)
}

    
    

.clone{
    background-color: #37475a;
    justify-content: center;
    padding: 20px;
    display: flex;
    height: 60px;
    align-self: center;
    margin:0;

}
html, body {
  overflow-x: hidden; 
}






 /* addd new slide */

@media (min-width: 1200px) {
  .nav-search { 
    width: 600px; 
}
  .hero-section { 
    height: 300px;
 }
  .product-box {
     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
     }
  .fight-offer img { 
    height: 500px; 
  }
}


@media (max-width: 992px) {
  
  .top-nav {
     justify-content: space-between; padding: 0 20px;
     }
  .nav-search {
     width: 70%; max-width: 500px;
 }
  .nav-logo {
     width: 90px; 
    }

  
  .hero-section {
     height: 220px;
     }

  
  .product-box {
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     }

  
  .signin-section .content button { width: 80%;
     font-size: 1rem; 
}

  
  .footer .row {
     flex-wrap: wrap; justify-content: center; 
}
  .fight-offer img {
     height: 400px;
     }
  .country ul {
     width: 100%; justify-content: center; 
    }
}


@media (max-width: 768px) {

  .top-nav { 
    flex-direction: column; 
    height: auto; 
    padding: 10px;
 }
  .nav-logo {
     width: 80px; 
    }
  .nav-search {
     width: 100%;
      margin-top: 10px; 
    }

  
  .buttom-nav { 
    flex-direction: column;
     height: auto;
     padding: 10px;
 }

  .hero-section { 
    height: 150px;
 }

  .product-box {
     grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
     }

  
  .scroll-product .product {
     width: 100%;
      justify-content: flex-start;
     }

  
  .signin-section .content button {
     width: 90%; 
     font-size: 0.9rem; 
    }

  
  .footer .row { 
    flex-direction: column;
     align-items: flex-start;
 }
  .fight-offer img {
     height: 300px;
     }
  .country ul li { 
    font-size: 0.9rem; 
}
}


@media (max-width: 480px) {
  
  .nav-logo {
     width: 70px;
     }
  .nav-search {
     flex-direction: column; 
     height: auto; 
    }
  .search-input {
     font-size: 0.9rem;
     }
  .search-icon {
     width: 100%;
      border-radius: 0;
     }

  
  .hero-section {
    height: 120px;
 }

  
  .product-box { 
    grid-template-columns: 1fr;
 }

  .signin-section .content h1 {
     font-size: 0.9rem; 
    }
  .signin-section .content button {
     width: 100%;
      padding: 10px;
     }

  
  .country ul {
     width: 100%;
      flex-direction: column; 
      align-items: center;
     }
  .country ul li {
     font-size: 0.8rem;
     }
  .fight-offer img { 
    height: 200px;
 }
  .footer-icon {
     flex-direction: column;
      width: 100%; 
      align-items: center;
     }
}